* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    width: 350px;
    height: 350px;
    cursor: pointer;
}
.rotate {
    animation: rotation 20s;
    transition: all 300ms ease-in-out;
    opacity: 0.4;
}
.rotate:hover {
    scale: 1.5;
    opacity: 0.9;
}
.linear {
    animation-timing-function: linear;
}
.infinite {
    animation-iteration-count: infinite;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
